$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Audiowide', sans-serif;

/* colors */
$primary: #fff;
$tint: #020202;
$lightTint: #ffd5bd;
$orange: #f26002;

/* globals */

/*HERO Scroll Arrow*/
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 70px;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.home {
    background-color: $tint;
}

.bg-light {
    background: $primary !important;
}

main {
    overflow: hidden;
}

#page {
    max-width: 2430px;
    margin: 0 auto;
}

p {
	font-family: $primaryFont;
    font-size: 1.2em;
}

.page {
    margin: 0;
}

h1.entry-title {
    visibility: hidden;
    display: none;
}

.home #site-navigation {
    background: transparent !important;
    position: absolute;
    z-index: 1;
    margin-top: 1em;
}

.main-navigation li {
    margin: 0 2em;
}

@media screen and (max-width: 599px) {
    #submenu {
        display: block !important;
    }

    .row p {
        text-align: left !important;
    }
    
    p.text-muted {
        text-align: center !important;
    }

    #getStarted p {
        text-align: center !important;
    }
}

a.nav-link {
    font-family: $primaryFont;
    font-size: 1.2em;
}

.primaryfont {
    font-family: $primaryFont;
}

.secondaryfont {
    font-family: $secondaryFont;
    text-transform: uppercase;
}

.orange {
    color: $orange;
}

.lightondark {
    color: white;
}

.darkonlight {
    color: black;
}

h1 {
    font-size: 2.5rem;
    font-family: $secondaryFont;
}

h2 {
    font-size: 2.5rem;
    font-family: $secondaryFont;
}

.btn-orange {
    background: $orange;
    color: white;
}

li a {
    font-family: $secondaryFont;
    color: white !important;
    text-decoration: none;
    :visited {
        color: white;
        text-decoration: none;
    }
}

/* masthead */

@media screen and (max-width: 1480px) {
    header.masthead video {
        visibility: hidden;
        display:none;
    }

    header.masthead {
        background-size: cover;
    }
}

header.masthead {
    position: relative;
    background-color: gray;
    padding-top: 8rem;
    padding-bottom: 8rem;
    // max-height: 845px;
    height: 100vh;

    video {
        top: 0;
        width: 100%;
        overflow: hidden;
    }

    &:before {
        content: '';
        position: absolute;
        background-color: mix(rgb(56, 56, 56), $tint, 75%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
    }

    h1 {
        font-size: 2rem;
    }

    @media (min-width: 768px) {
        padding-top: 12rem;
        padding-bottom: 12rem;

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .brandimg {
        height: 150px;
    }

    .brandimg img {
        width: 500px;
    }

    .buttonContainer {
        padding-top: 70px;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }

    .button {
        position: absolute;
        top: 2%;
        left: 1%;
        display: block;
        height: 97%;
        width: 98%;
        margin: auto;
        align-self: center;
        background: #ff7600cf;
        color: white;
        text-transform: uppercase;
        font-family: 'Audiowide', cursive;
        z-index: 1;
    }

    .button p  {
        font-size: 1em;
        font-family: $secondaryFont;
    }

    .border {
        position: absolute;
        display: block;
        top: -50%;
        left: -50%;
        z-index: 0;
        display: block;
        height: 280%;
        width: 170%;
        transform: rotate(-45deg);
        overflow: hidden;
        background: linear-gradient(to right, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 40%, #ffffff 50%, #ffffff 55%, rgb(0, 0, 0) 70%, rgb(0, 0, 0) 100%);
        background-size: 200% auto;

        animation: shine 3s linear infinite;
    }

    @keyframes shine {
        to {
            background-position: 200% center;
        }
    }

    .button p {
        position: relative;
        margin-top: 1.5em;
    }

    .button:hover {
        font-size: 1.1em;
        transition: font-size ease 0.3s;
    }
}

.about {
    z-index: 1;
    position: relative;
    background: white;
    padding-bottom: 2em;
}

.blackoutline {
    border: 1px solid black;
}

/* showcase */

.showcase {
    padding: 4em 0 1em 0;
    position: relative;

    .showcase-text {
        padding: 3rem;
    }

    .showcase-img {
        min-height: 30rem;
        background-size: cover;
    }

    span.secondaryFont {
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: $secondaryFont;
    }

    p {
        text-transform: uppercase;
        font-family: $secondaryFont;
        font-size: 2.5em;
        margin: 0;
    }

    @media screen and (max-width: 1360px) {
        #slash {
            display: none;
            visibility: hidden;
        }
    }

    @media screen and (max-width: 1247px) {
        #timer p {
            width: 100%;
        }
    }

    .buttonrows .row {
        padding: 0 0 1em 0;
    }

    .orangeLabel {
        font-size: 1.6em;
        background: $orange;
        font-family: $primaryFont;
        margin: 0.5em;
        padding: 0.5em;
        align-items: center;
        text-transform: uppercase;
    }

    .orangeLabel:hover {
        background: #f29202;
        transition: background ease-out 0.3s;
    }

    @media (min-width: 768px) {
        .showcase-text {
            padding: 7rem;
        }
    }
}

/* about brand */

.aboutbrand {
    padding-bottom: 7rem;

    .patrickLogo img {
        height: auto;
        padding: 2em 0;
    }

    .smLogo {
        display: grid;
        align-items: center;
        justify-content: center;;
        margin-top: 2em;
    }

    .testimonial-item {
        max-width: 18rem;

        img {
            max-width: 12rem;
            box-shadow: 0px 5px 5px 0px gray;
        }
    }
}

/* jumbo image section */

section.jumboImage {
    height: 35em;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Call to action */

@media screen and (max-width: 1034px) {
    .call-to-action {
        background: linear-gradient(173deg, white 49.5%, $orange 50.5%) !important;
    }
}

.call-to-action {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 10rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: white;

    .beforeMessage h2 {
        text-transform: uppercase;
        font-size: 1.8em;
    }

    .messageForm {
        background: white;
        padding: 3em 1em;
        margin-bottom: 5em;
        border-radius: 25px;
        border: 1px solid lightgray;
        box-shadow: 0px 15px 15px rgba(0,0,0,0.25);

        form p {
            margin: 0;
            position: relative;
        }
        form span {
            width: 100%;
        }
        form input[type="text"] {
            width: 100%;
        }
        form input[type="email"] {
            width: 100%;
        }
        form input[type="submit"] {
            width: 100%;
            background: $orange;
            color: white;
            font-family: $secondaryFont;
            font-weight: 700;
            padding: 1em;
        }
        form textarea {
            height: 100px;
        }
        form label {
            display: none;
        }

    }

    .social {
        position: absolute;
        bottom: -16%;
        list-style-type: none;
        padding: 0;
        p {
            color: white;
            font-size: 1.6em;
            font-family: $secondaryFont;
        }
        a {
            text-decoration: none;
            font-family: $primaryFont;
        }
    }

    @media screen and (min-width: 783px) and (max-width: 1199px) {
        .social {
            bottom: -20%;
        }
    }

    @media screen and (min-width: 1200px) {
        .messageForm {
            margin-top: -6em;
        }

        .social {
            bottom: -30%;
        }
    }

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
    }
}

/* final content */

section.finalcontent {
    position: relative;
    background-color: darkgray;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;

    p {
        margin-bottom: 3rem;
    }

    .ctabtn {
        border-radius: 0;
    }

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
    }
}

/* footer */

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.socialrow {
    margin-bottom: 3rem !important;
}

footer img {
    max-width: 60%;
}